doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', href='leaflet/leaflet.css')
    script(src='leaflet/leaflet.js')
    script(src='javascript/jquery-3.6.0.js')

  body( onload="onLoad()" )
    block content