body {
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    background: #f3f3f3;
}

header {
    background: #afafb0;
    margin: 0;
    padding: 1%;
    font-size: 40px;
    padding-right: 30%;
}

#nav {
    list-style: none;
    overflow: hidden;
    padding-left: 0;
    font-size: 18px;
}

#nav li {
    width: 100px;
    height: 30px;
    text-align: center;
    float: left;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 4px;
}

#nav li:hover {
    opacity: 0.5;
}

#nav li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

main {
    padding: 2%;
}

#form {
    width: 100%;
    height: 15%;
    margin-bottom: 0.5%;
}

select {
    width: 80%;
    height: 10%;
}

input {
    width: 10%;
    height: 10%;
    margin: 1%;
    font-size: 20px;
}



#img {
    text-align: center;
    z-index: 10000;
    box-sizing: border-box;
    display: none;
    position: fixed;
    background: #fff;
    border-radius: 0.2%;
    background: #eeeeee;
}

#img > p {
    font-size: 24px;
    height: 2.5%;
    margin: 1%;
}

img {
    width: 100%;
}

button {
    width: 15%;
    margin-right: 1.5%;
    font-size: 20px;
}



.icon {
    position: absolute;
    background: #f5f5f5;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.icon:hover {
        background-image: linear-gradient(45deg, #9ebaff 0%, #9dffbf 100%);
}

#help {
    border-radius: 50%;

    z-index: 500;
}

#expansion {
    left: 38%;
    z-index: 500;
}

#restore {
    display: none;
    left: 95%;
    z-index: 500;
}

#alltime {
    display: block;
    left: 80%;
}

#monthly {
    display: none;
    left: 80%;
}


#map {
    float: left;
    z-index: 400;
}

#graph {
    float: right;
    z-index: 300;
}

.about-main {
    width: 1000px;
    height: 450px;
    font-size: 20px;
    margin-left: 2%;
    margin-bottom: 20px;
}

.about-main img {
    margin-bottom: 5%;
}

#top-header #explain {
    font-size: 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution :2dppx) {
    button {
        width: 5%;
        margin-right: 1.5%;
        font-size: 20px;
    }

    .icon {
        position: absolute;
        background: #f5f5f5;
        width: 80px;
        height: 80px;
        border: none;
        border-radius: 5px;
    }
}